$background: #0c365a;
$footer-background: #fff;
$primary: #01d167;
$color-1: #ffffff;
$color-2: #23cefd;
$color-3: #0c365a;
$color-4: #dddddd;
$color-5: #325baf;
$color-6: #536dff;
$color-7: #aaaaaa;
$color-8: #edf3ff;
$color-9: #fafcff;
$color-10: #f5f5f5;
$color-11: #222222;
$q-primary: #1976d2;
